{
  "checkEveryMinutes": 10,
  "miners": [
    {
      "id": "sampleMinerID",
      "controllerDevice": {
        "email": "",
        "password": "",
        "region": "",
        "name": "",
        "relayChannel": 1
      }
    }
  ]

}
